@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
/* reset css */

html{
    font-size: 62.5%;
    
}
body{
    font: 1.6rem 'Open Sans',sans-serif;
    margin: 0;
    line-height: 1.6;
    background-color: #222;
    
}
h1,h2,h3{
    font-weight: 300;
    margin: 0;
}
p,figure,ul,ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #222;
}
/* optimisation css. Tout en rem 5/20 */

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
    header{
      line-height: 6rem;
      background-color: #222;
  }
  header h1{
      color: #fff;
      text-align: center;
  }
 
  .container {
    max-width: 40rem;
    margin: 0 auto;
    padding: 1rem;
    background: #f1f1f1;
  }
  
  .slider img {
    width: 100%;
    height: 58rem;
    display: none;
  }
  img.active {
    display: block;
    animation: fade 0.8s;
  }
  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .cont-btn {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
  }
  .btn-nav {
    margin: 1rem 1.5rem;
    cursor: pointer;
  } 

























/* optimisation css. Tout en rem 5/20 */

 /*
  

  
  
  
*/